h1{
    text-align: center;
    color: crimson
}
h2{
    text-align: center;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3{
    text-align: center;
    color: green;
 }
p{
    text-align: center;
}